:root {
	--white: #FFFFFF;
	--footer-lifgt-gray: #F2F2F2;
	--back-light-gray: #FAFAFA;
	--dark-gray: #4B4B4B;
	--black: #000000;

	--violet: #545775;

	--darkest-green: #648F68;
	--dark-green: #77A37B;

	--blue: #718F94
}
